<!-- <div>Test: app-auth <br><app-auth></app-auth></div> -->
<!-- <div>Test: app-auth <br><app-auth></app-auth></div>
<div>Test: app-auth <br><app-auth></app-auth></div> -->

<!-- <div class="container">
  <span>
    <h1 routerLink="/home">Disc Buddy</h1>
    <h1 class="text-center" routerLink="/home">Disc Buddy</h1>
    <div class="text-right">
      <button class="btn btn-primary" routerLink="/home">Home</button>
      <button class="btn btn-primary" routerLink="/courses/create">
        Create new course
      </button>
    </div>
  </span>
</div>
<br /> -->

<app-nav></app-nav>

<router-outlet></router-outlet>
