<div class="container">
  <div class="form-group row-rw-6 ">
    <form [formGroup]="form">
      <h1 class="text-md-center">Thanks for Adding a Course!</h1>
      <br />
      <input
        type="text"
        class="form-control course"
        placeholder="Enter Course Name, Each Course must have 9 or more holes!"
        formControlName="name"
      />
      <br /><hr>
      <div *ngFor="let hole of holesArray.controls; let i = index" class="text-md-center">
        <div [formGroup]="hole">
          Hole {{ i + 1 }}
          <label>Par:</label>
          <input class="par-yards"type="number" placeholder="Must be par 1 or more" formControlName="par" />
          <label>Yards:</label
          ><input class="par-yards"type="number" placeholder="Must be at least 10 yards" formControlName="yards" />
          <button class="btn btn-danger" (click)="onDeleteHole(i)">X</button>
        </div>
      </div>
      <br />
      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <button class="btn btn-warning" (click)="onAddNewHole()">
          Add a Hole
        </button>
        <br />
        <br />
        <button
          class="btn btn-success"
          (click)="onSubmit()"
          [disabled]="form.invalid"
        >
          Save Course
        </button>
      </div>
    </form>
  </div>
</div>
