/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgray;
  margin: 50px; font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: black;
}

.text-right{
  text-align: right;
}

.btn {
  margin-left: .5rem;
}

