/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgray;
  margin: 200px;
  margin-top: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

a{
  transition: .3s;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  opacity: .6;
}

/* selected link */
a:active {
  color: black;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.btn {
  margin-left: .5rem;
}

.very-large-text {
  text-transform: capitalize;
  -webkit-text-size-adjust: 100%;
}

